<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form >
                      <h3 class="text-center text-info">Login</h3>
                      <div class="form-group">                            
                          <input type="text" name="username" placeholder="yours@example.com" id="username" class="form-control" formControlName="username">
                      </div>
                      <div class="form-group">
                          <input type="text" name="password"  placeholder= "your Password" id="password" class="form-control" formControlName="Password">
                      </div>
                      <div class="form-group">
                          <label for="remember-me" class="text-info"><span>Don't remember your Password</span> </label><br>
                          <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                      </div>
                      <label *ngIf="usernotloggedin">user name or password is invalid</label>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>